In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# import the WeatherPy_Database.csv file from your Weather_Database folder from Deliverable 1 as a DataFrame.

file_to_load = "../Weather_Database/WeatherPy_Database.csv"
weather_py_df = pd.read_csv(file_to_load)
weather_py_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Terra Santa,-2.1042,-56.4869,92.73,42,53,6.20,BR,broken clouds
1,1,Albany,42.6001,-73.9662,47.84,60,45,1.19,US,scattered clouds
2,2,Dikson,73.5069,80.5464,21.61,83,100,12.33,RU,overcast clouds
3,3,Hobart,-42.8794,147.3294,48.11,88,0,3.00,AU,clear sky
4,4,Hilo,19.7297,-155.0900,79.29,75,20,5.75,US,few clouds
...,...,...,...,...,...,...,...,...,...,...
319,319,Togur,58.3631,82.8265,15.80,85,100,11.77,RU,overcast clouds
320,320,Shimoda,34.6667,138.9500,56.10,74,5,7.29,JP,clear sky
321,321,Yaan,7.3833,8.5667,81.12,73,93,4.34,NG,overcast clouds
322,322,Notodden,59.5594,9.2585,36.19,86,0,2.91,NO,clear sky
323,323,Gazalkent,41.5581,69.7708,25.16,55,8,2.53,UZ,clear sky

In [14]:
# Write two input statements that prompt the user to enter their minimum and maximum temperature 
# criteria for their vacation.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Use the loc method to filter the city_data_df DataFrame for temperature criteria collected in Step 2,
# then create a new DataFrame.
preferred_cities_df = weather_py_df.loc[(weather_py_df["Max Temp"] <= max_temp) & \
                                       (weather_py_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
4,4,Hilo,19.7297,-155.0900,79.29,75,20,5.75,US,few clouds
5,5,Miranda,3.2499,-76.2281,81.64,75,75,0.94,CO,broken clouds
7,7,Kapaa,22.0752,-159.3190,75.52,75,90,4.00,US,heavy intensity rain
8,8,Butaritari,3.0707,172.7902,83.01,72,8,15.93,KI,clear sky
16,16,Arraial Do Cabo,-22.9661,-42.0278,76.96,78,40,10.36,BR,scattered clouds
26,26,Avarua,-21.2078,-159.7750,75.25,73,29,4.61,CK,light rain
27,27,Veraval,20.9000,70.3667,79.03,52,91,6.60,IN,overcast clouds
33,33,Mackay,-21.1500,149.2000,75.18,69,40,12.66,AU,scattered clouds
47,47,Cumana,10.4635,-64.1775,87.89,65,24,10.07,VE,few clouds
54,54,Adrar,20.5022,-10.0711,83.16,16,5,4.54,MR,clear sky

In [19]:
# Determine if there are any empty rows, then drop them if necessary and create a new DataFrame.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Current Description    0
dtype: int64

In [20]:
# Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
4,4,Hilo,19.7297,-155.0900,79.29,75,20,5.75,US,few clouds
5,5,Miranda,3.2499,-76.2281,81.64,75,75,0.94,CO,broken clouds
7,7,Kapaa,22.0752,-159.3190,75.52,75,90,4.00,US,heavy intensity rain
8,8,Butaritari,3.0707,172.7902,83.01,72,8,15.93,KI,clear sky
16,16,Arraial Do Cabo,-22.9661,-42.0278,76.96,78,40,10.36,BR,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
309,309,Sibu,2.3000,111.8167,77.31,94,40,1.99,MY,scattered clouds
312,312,Kavaratti,10.5669,72.6420,81.48,80,100,11.16,IN,overcast clouds
313,313,San Cristobal,7.7669,-72.2250,80.87,59,70,1.57,VE,broken clouds
317,317,Santa Maria,-29.6842,-53.8069,84.07,52,0,6.08,BR,clear sky
321,321,Yaan,7.3833,8.5667,81.12,73,93,4.34,NG,overcast clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,79.29,few clouds,19.7297,-155.0900,
5,Miranda,CO,81.64,broken clouds,3.2499,-76.2281,
7,Kapaa,US,75.52,heavy intensity rain,22.0752,-159.3190,
8,Butaritari,KI,83.01,clear sky,3.0707,172.7902,
16,Arraial Do Cabo,BR,76.96,scattered clouds,-22.9661,-42.0278,
26,Avarua,CK,75.25,light rain,-21.2078,-159.7750,
27,Veraval,IN,79.03,overcast clouds,20.9000,70.3667,
33,Mackay,AU,75.18,scattered clouds,-21.1500,149.2000,
47,Cumana,VE,87.89,few clouds,10.4635,-64.1775,
54,Adrar,MR,83.16,clear sky,20.5022,-10.0711,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,79.29,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Miranda,CO,81.64,broken clouds,3.2499,-76.2281,unidiversidad organica la utopia
7,Kapaa,US,75.52,heavy intensity rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Butaritari,KI,83.01,clear sky,3.0707,172.7902,Isles Sunset Lodge
16,Arraial Do Cabo,BR,76.96,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
26,Avarua,CK,75.25,light rain,-21.2078,-159.7750,Paradise Inn
27,Veraval,IN,79.03,overcast clouds,20.9000,70.3667,Lords Inn Somnath
33,Mackay,AU,75.18,scattered clouds,-21.1500,149.2000,International Lodge Motel
47,Cumana,VE,87.89,few clouds,10.4635,-64.1775,Posada Acuarela Los Roques
54,Adrar,MR,83.16,clear sky,20.5022,-10.0711,

In [27]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hilo,US,79.29,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Miranda,CO,81.64,broken clouds,3.2499,-76.2281,unidiversidad organica la utopia
7,Kapaa,US,75.52,heavy intensity rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Butaritari,KI,83.01,clear sky,3.0707,172.7902,Isles Sunset Lodge
16,Arraial Do Cabo,BR,76.96,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
26,Avarua,CK,75.25,light rain,-21.2078,-159.7750,Paradise Inn
27,Veraval,IN,79.03,overcast clouds,20.9000,70.3667,Lords Inn Somnath
33,Mackay,AU,75.18,scattered clouds,-21.1500,149.2000,International Lodge Motel
47,Cumana,VE,87.89,few clouds,10.4635,-64.1775,Posada Acuarela Los Roques
55,Bengkulu,ID,75.70,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))